<!doctype html>
<html lang="en" class="h-100">
        <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ClAsSiFyPrO</title>
        <script src="https://kit.fontawesome.com/01cc488f91.js" crossorigin="anonymous"></script>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body class="d-flex flex-column h-100">
        <header class="py-3 bg-dark text-white">
            <div class="container">
                <ul class="nav d-flex justify-content-center">
                    <li class="nav-item">   
                        <a class="navbar-brand" href="{{ url_for('home') }}">
                            <h1>ClAsSiFyPrO</h1>
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="container my-3 text-center">
            <div class="row">
                <div class="col">
                    <div class="card same-height">
                        <div class="card-body">
                            <h5 class="card-title">Tool Classifier</h5>
                            <p class="card-text">This classifier has been created to identify tools in a given image. The tools we currently try to recognize are a flat screwdriver,
                                a combi wrench, a hammer, and a wrench.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card same-height">
                        <div class="card-body">
                            <h5 class="card-title">Upload Image</h5>
                            <p class="card-text">Please upload an image so we can classify the tool present in it.</p>
                            <form action="http://localhost:5000/uploadFile" method="POST" enctype=multipart/form-data>
                                <div>
                                    <span class="btn btn-primary btn-file btn-lg">
                                        Browse <input type="file" accept="image/png, image/jpeg" name="fileInput" id="fileInput">
                                    </span>
                                    <img class="img-fluid my-2 border" id="showImage" src="#" alt="uploaded image" hidden>
                                    <button type="submit" class="btn btn-primary btn-lg" id="submitBtn" hidden>Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Model Details</h5>
                        <p class="card-text">In the table below, you can find the parameters we used for our model.</p>
                        <p class="card-text">The first parameter is Sequential. This is here because we use data augmentation. In each epoch, this layer will create new images from the ones it already has. The techniques we use are random flip, random rotation and random zoom.</p>
                        <p class="card-text">You can also see that we use 2 important layers, namely a Convolutional2D and a MaxPooling2D layer. The first one will recognize important features in the image, while the second one will take those important features for the next layer where the images are smaller by a factor of 2.</p>
                        <p class="card-text">For the last layers we use a Flatten and Dense layers. The Flatten layer ensures that the neurons of 2D shape are transfored to a 1D shape, while the Dense layers are responsible for learning complex patterns and relationships in the input data.</p>
                        <p class="card-text">As previously mentioned, we use data augmentation for generating more images for the model. We have used the synthetic data for training and testing the model where we have used a 80-20 distribution. The normalization of the images will take place in the model it self.</p>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Layer (type)</th>
                                    <th scope="col">Output Shape</th>
                                    <th scope="col">Param #</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr>
                                    <td>Sequential</td>
                                    <td>(None, 256, 256, 3)</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Rescaling</td>
                                    <td>(None, 256, 256, 3)</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Conv2D</td>
                                    <td>(None, 256, 256, 16)</td>
                                    <td>448</td>
                                </tr>
                                <tr>
                                    <td>MaxPooling2D</td>
                                    <td>(None, 128, 128, 16)</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Conv2D</td>
                                    <td>(None, 128, 128, 32)</td>
                                    <td>4,640</td>
                                </tr>
                                <tr>
                                    <td>MaxPooling2D</td>
                                    <td>(None, 64, 64, 32)</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Conv2D</td>
                                    <td>(None, 64, 64, 64)</td>
                                    <td>18,496</td>
                                </tr>
                                <tr>
                                    <td>MaxPooling2D</td>
                                    <td>(None, 32, 32, 64)</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Flatten</td>
                                    <td>(None, 65536)</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Dense</td>
                                    <td>(None, 128)</td>
                                    <td>8,388,736</td>
                                </tr>
                                <tr>
                                    <td>Dense</td>
                                    <td>(None, 4)</td>
                                    <td>516</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="card-text">The hyperparameters we used can be found in the table below.</p>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Parameter Name</th>
                                    <th scope="col">Parameter Value</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr>
                                    <td>Optimizer</td>
                                    <td>Adam (Adaptive Moment Estimation)</td>
                                    <td>To minimize the loss function, we employ the Adam optimization algorithm. Adam is an iterative optimization method that effectively reduces the loss function during training. It combines the advantages of both RMSprop and Stochastic Gradient Descent (SGD), providing an efficient and robust approach to optimization.</td>
                                </tr>
                                <tr>
                                    <td>Learning Rate</td>
                                    <td>0.001</td>
                                    <td>Regulates how frequently the model's weights are changed during training. So it determines the size of the steps taken towards minimizing the loss function during each iteration of the algorithm.</td>
                                </tr>
                                <tr>
                                    <td>Batch Size</td>
                                    <td>40</td>
                                    <td>Refers to the number of training examples utilized in one iteration of the training process. It determines how many samples are processed before the model parameters are updated.</td>
                                </tr>
                                <tr>
                                    <td>Number of Epochs</td>
                                    <td>45</td>
                                    <td>Refers to one complete pass through the entire training dataset. During this pass, the netowrk processes the data in batches, updates its weights, and learns from the data. This value must not be to high or to low otherwhise it will lead to under- or overfitting.</td>
                                </tr>
                                <tr>
                                    <td>Activation Function</td>
                                    <td>ReLu (Rectified Linear Unit - (max(0, x)))</td>
                                    <td>A mathematical function applied to the output of a neuron. It takes the weighted sum of inputs plus a bias and produces an output that serves as the input to the next layer. Without these the model would simply be a series of linear transformations. So in general it learns complex patterns in the data.</td>
                                </tr>
                                <tr>
                                    <td>Kernel Size (Conv2D)</td>
                                    <td>3x3</td>
                                    <td>It is also known as a filter that is a small matrix of weights used to scan over the input data, performing convolution operations. The size refers the the dimensions of this matrix. The smaller the dimensions are the more details it will capture.</td>
                                </tr>
                                <tr>
                                    <td>Amount of Filters (Conv2D)</td>
                                    <td>16, 32, 64</td>
                                    <td>The more filters in a convolutional layer determines the number of distinct features the layer can learn to recognize.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <footer class="py-3 mt-auto border-top bg-dark text-white footer">
            <div class="container">
                <p class="d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto">Made by Brecht Heeren, David Kellens & Lennert Meurs</p>
            </div>
        </footer>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='js/homePage.js')}}" type="text/javascript"></script>
    </body>
</html>